<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.realTime_dataCollection.dao.RawDataSmokeDao">
    <insert id="insertRawDataSmoke" parameterType="com.hardworkgroup.bridge_health_system.common_model.domain.realTime_dataCollection.entity.RawDataSmoke">
        insert into rawData_Smoke (sensorID, acquisitionTime, smokeValue) values (#{sensor.sensorID}, #{acquisitionTime}, #{smokeValue})
    </insert>

    <select id="selectBatchRawDataSmokeBySensorID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.realTime_dataCollection.entity.RawDataSmoke">
        select * from rawData_Smoke where sensorID = #{sensorID} order by ID desc limit #{number}
    </select>

    <select id="selectRawDataSmokeBySensorIDAndTime" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.realTime_dataCollection.entity.RawDataSmoke">
        SELECT * FROM rawData_Smoke WHERE sensorID = #{sensorID} and acquisitionTime > #{targetTime} ORDER BY ID DESC
    </select>
</mapper>