<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.bridge_inspection.dao.InspectionDataDao">

    <resultMap id="DataWithSensor" type="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_inspection.entity.InspectionData">
        <id property="inspectionDataID" column="inspectionDataID"/>
        <result property="inspectionRecordID" column="inspectionRecordID"/>
        <result property="sensorID" column="sensorID"/>
        <result property="manualSensorData" column="manualSensorData"/>
        <result property="status" column="status"/>
        <association property="sensor"  javaType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
            <id property="sensorID" column="sensorID"/>
            <result property="bridgeID" column="bridgeID"/>
            <result property="sensorName" column="sensorName"/>
            <result property="sensorLocation" column="sensorLocation"/>
            <result property="sensorType" column="sensorType"/>
            <result property="upperThreshold" column="upperThreshold"/>
            <result property="lowerThreshold" column="lowerThreshold"/>
            <result property="sensorStatus" column="sensorStatus"/>
        </association>
    </resultMap>
    <!--根据id查询巡检数据-->
    <select id="getInspectionDataByID" resultMap="DataWithSensor">
        select * from inspection_data as d
        LEFT JOIN sensor as s
        on d.sensorID =s.sensorID
        where d.inspectionDataID = #{inspectionDataID}
    </select>

    <!--查询所有巡检数据-->
    <select id="selectAllInspectionData" resultMap="DataWithSensor">
        select * from inspection_data as d
        LEFT JOIN sensor as s
        on d.sensorID =s.sensorID
    </select>

    <!--根据recordID获取所有巡检数据列表-->
    <select id="selectAllByRecordID" resultMap="DataWithSensor">
        select * from inspection_data as d
        LEFT JOIN sensor as s
        on d.sensorID =s.sensorID
        where d.inspectionRecordID=#{inspectionRecordID}
    </select>

    <!--更新巡检记录-->
    <update id="updateByKey" parameterType="map">
        update inspection_data
        set inspectionRecordID=#{inspectionRecordID},sensorID=#{sensorID},
        manualSensorData=#{manualSensorData},status=#{status}
        where inspectionDataID =#{inspectionDataID}
    </update>

    <!--ID删除巡检记录-->
    <delete id="deleteByKey" parameterType="map">
    	delete from inspection_data where inspectionDataID = #{inspectionDataID}
  	</delete>

    <!--ID添加巡检记录-->
    <insert id="insertByKey" useGeneratedKeys="true" keyProperty="inspectionDataID">
        insert into inspection_data (
        inspectionRecordID,sensorID,
        manualSensorData,status)
        value (
        #{inspectionRecordID},#{sensorID},
        #{manualSensorData},#{status})
    </insert>
</mapper>