<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.bridge_inspection.dao.InspectionRecordDao">

    <resultMap id="recordWithSensorAndData" type="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_inspection.entity.InspectionRecord">
        <id property="inspectionRecordID" column="inspectionRecordID"/>
        <result property="inspectionPlanID" column="inspectionPlanID"/>
        <result property="inspectionTime" column="inspectionTime"/>
        <result property="inspectionRecordTitle" column="inspectionRecordTitle"/>
        <result property="inspectionContentDescription" column="inspectionContentDescription"/>
        <association property="sensors"  javaType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
            <id property="sensorID" column="sensorID"/>
            <result property="bridgeID" column="bridgeID"/>
            <result property="sensorName" column="sensorName"/>
            <result property="sensorLocation" column="sensorLocation"/>
            <result property="sensorType" column="sensorType"/>
            <result property="upperThreshold" column="upperThreshold"/>
            <result property="lowerThreshold" column="lowerThreshold"/>
            <result property="sensorStatus" column="sensorStatus"/>
        </association>
        <association property="inspectionData"  javaType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_inspection.entity.InspectionData">
            <id property="inspectionDataID" column="inspectionDataID"/>
            <result property="inspectionRecordID" column="inspectionRecordID"/>
            <result property="sensorID" column="sensorID"/>
            <result property="manualSensorData" column="manualSensorData"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>

    <!--根据id查询巡检记录-->
    <select id="getRecordByID" resultMap="recordWithSensorAndData">
        select * from inspection_record as r
        LEFT JOIN inspection_data as d
        on r.inspectionRecordID =d.inspectionRecordID
        LEFT JOIN sensor as s on d.sensorID=s.sensorID
        where r.inspectionRecordID = #{inspectionRecordID}
    </select>

    <!--查询所有巡检记录-->
    <select id="selectAllInspectionRecord" resultMap="recordWithSensorAndData">
        select * from inspection_record as r
        LEFT JOIN inspection_data as d
        on r.inspectionRecordID =d.inspectionRecordID
        LEFT JOIN sensor as s on d.sensorID=s.sensorID
    </select>

    <!--根据planID获取所有巡检记录列表-->
    <select id="selectAllByPlanID" resultMap="recordWithSensorAndData">
        select * from inspection_record as r
        LEFT JOIN inspection_data as d
        on r.inspectionRecordID =d.inspectionRecordID
        LEFT JOIN sensor as s on d.sensorID=s.sensorID
        where r.inspectionPlanID=#{inspectionPlanID}
    </select>

    <!--更新巡检记录-->
    <update id="updateByKey" parameterType="map">
        update inspection_record
        set inspectionPlanID=#{inspectionPlanID},
        inspectionTime=#{inspectionTime},
        inspectionRecordTitle=#{inspectionRecordTitle},
        inspectionContentDescription=#{inspectionContentDescription}
        where inspectionRecordID = #{inspectionRecordID}
    </update>

    <!--ID删除巡检记录-->
    <delete id="deleteByKey" parameterType="map">
    	delete from inspection_record where inspectionRecordID = #{inspectionRecordID}
  	</delete>

    <!--ID添加巡检记录-->
    <insert id="insertByKey" useGeneratedKeys="true" keyProperty="inspectionRecordID">
        insert into inspection_record (inspectionPlanID,inspectionTime,inspectionRecordTitle,inspectionContentDescription)
        value (#{inspectionPlanID},#{inspectionTime},#{inspectionRecordTitle},#{inspectionContentDescription})
    </insert>
</mapper>