<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.bridge_inspection.dao.SensorDao">

    <resultMap id="userAndRole" type="com.hardworkgroup.bridge_health_system.common_model.domain.system.entity.User">
        <id property="userID" column="userID"/>
        <result property="userPhone" column="userPhone"/>
        <result property="userName" column="userName"/>
        <result property="userPassword" column="userPassword"/>
        <result property="userEmail" column="userEmail"/>
        <result property="userStatus" column="userStatus"/>
        <result property="userLevel" column="userLevel"/>
        <association property="roles"  javaType="com.hardworkgroup.bridge_health_system.common_model.domain.system.entity.Role">
            <id property="roleID" column="roleID"/>
            <result property="roleName" column="roleName"/>
            <result property="roleDescription" column="roleDescription"/>
        </association>
    </resultMap>

    <!--根据id查询传感器-->
    <select id="getSensorByID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_inspection.entity.Sensor">
        select * from sensor
        where sensorID = #{sensorID}
    </select>

    <!--查询所有传感器-->
    <select id="selectAllSensor" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_inspection.entity.Sensor">
        select * from sensor
    </select>

    <!--更新传感器-->
    <update id="updateByKey" parameterType="map">
        update sensor
        set sensorName=#{sensorName},
        sensorLocation=#{sensorLocation},
        sensorType=#{sensorType},
        upperThreshold=#{upperThreshold},
        lowerThreshold=#{lowerThreshold},
        sensorStatus=#{sensorStatus}
        where sensorID = #{sensorID}
    </update>

    <!--ID删除传感器-->
    <delete id="deleteByKey" parameterType="map">
    	delete from sensor where sensorID = #{sensorID}
  	</delete>

    <!--ID添加传感器-->
    <insert id="insertByKey" >
        insert into sensor (
        sensorID,bridgeID,sensorName,
        sensorLocation,sensorType,upperThreshold,
        lowerThreshold,sensorStatus)
        value (
        #{sensorID},#{bridgeID},#{sensorName},
        #{sensorLocation},#{sensorType},#{upperThreshold},
        #{lowerThreshold},#{sensorStatus})
    </insert>
</mapper>