<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.bridge_configuration.dao.SensorHealthDao">

    <!--根据桥梁id查询传感器健康状况-->
    <select id="selectAllByBridgeID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.SensorHealth">
        select * from sensor_health
        where bridgeID = #{bridgeID}
    </select>

    <!--根据id查询传感器健康状况-->
    <select id="getSensorHealthByID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.SensorHealth">
        select * from sensor_health
        where sensorHealthID = #{sensorHealthID}
    </select>

    <!--查询所有传感器健康状况-->
    <select id="selectAllSensorHealth" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.SensorHealth">
        select * from sensor_health
    </select>

    <!--更新传感器健康状况-->
    <update id="updateByKey" parameterType="map">
        update sensor_health
        set sensorType=#{sensorType},
        bridgeID=#{bridgeID},
        sensorScore=#{sensorScore},
        weight=#{weight}
        where sensorHealthID = #{sensorHealthID}
    </update>

    <!--ID删除传感器健康状况-->
    <delete id="deleteByKey" parameterType="map">
    	delete from sensor_health where sensorHealthID = #{sensorHealthID}
  	</delete>

    <!--ID添加传感器健康状况-->
    <insert id="insertByKey" useGeneratedKeys="true" keyProperty="sensorID">
        insert into sensor_health (
        sensorType,bridgeID,
        sensorScore,weight)
        value (
        #{sensorType},#{bridgeID},
        #{sensorScore},#{weight})
    </insert>

</mapper>