<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.bridge_configuration.dao.SensorDao">

    <!--根据id查询传感器-->
    <select id="getSensorByID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        select * from sensor
        where sensorID = #{sensorID}
    </select>

    <!--查询所有传感器-->
    <select id="selectAllSensor" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        select * from sensor
    </select>

    <!--根据传感器类型获取传感器单位-->
    <select id="getUnitBySensorType" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        select * from sensor where sensorType = #{sensorType}
    </select>

    <!--查询所有传感器-->
    <select id="selectAllByBridgeID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        select * from sensor where bridgeID=#{bridgeID}
    </select>

    <!--根据bridgeID和sensorType查询所有传感器-->
    <select id="selectAllByBridgeIDAndSensorType" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        select * from sensor
        where bridgeID=#{bridgeID} AND sensorType=#{sensorType}
    </select>

    <!--更新传感器-->
    <update id="updateByKey" parameterType="map">
        update sensor
        set sensorName=#{sensorName},
        bridgeID=#{bridgeID},
        sensorLocation=#{sensorLocation},
        sensorType=#{sensorType},
        upperThreshold=#{upperThreshold},
        lowerThreshold=#{lowerThreshold},
        sensorStatus=#{sensorStatus}
        where sensorID = #{sensorID}
    </update>

    <!--ID删除传感器-->
    <delete id="deleteByKey" parameterType="map">
    	delete from sensor where sensorID = #{sensorID}
  	</delete>

    <!--ID添加传感器-->
    <insert id="insertByKey" useGeneratedKeys="true" keyProperty="sensorID">
        insert into sensor (
        bridgeID,sensorName,sensorLocation,
        sensorType,upperThreshold,lowerThreshold,
        sensorStatus)
        value (
        #{bridgeID},#{sensorName},#{sensorLocation},
        #{sensorType},#{upperThreshold},#{lowerThreshold},
        #{sensorStatus})
    </insert>

    <resultMap id="SensorOriginalData" type="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        <id property="sensorID" column="sensorID"/>
        <result property="sensorName" column="sensorName"/>
        <result property="sensorType" column="sensorType"/>
        <result property="upperThreshold" column="upperThreshold"/>
        <result property="lowerThreshold" column="lowerThreshold"/>
        <result property="sensorLocation" column="sensorLocation"/>
        <result property="isShort" column="isShort"/>
        <collection property="originalDatas" ofType="com.hardworkgroup.bridge_health_system.common_model.domain.data_analysis.entity.OriginalData">
            <id property="originalDataID" column="originalDataID"/>
            <result property="originalDataCollectionTime" column="originalDataCollectionTime"/>
            <result property="originalDataPath" column="originalDataPath"/>
        </collection>
    </resultMap>
    <!--查询传感器对应的原始数据-->
    <select id="getSensorOriginalData" resultMap="SensorOriginalData">
        select * from sensor as s left join original_data as o on s.sensorID = o.sensorID where s.sensorID = #{sensorID}
    </select>


    <!--通过传感器类型查询传感器原始数据-->
    <select id="getSensorOriginalDataBySensorType" resultMap="SensorOriginalData">
        select * from sensor as s left join original_data as o on s.sensorID = o.sensorID where s.sensorType = #{sensorType} and s.isShort = 0 and s.bridgeID = #{bridgeID}
    </select>


    <resultMap id="SensorAlarmInformation" type="com.hardworkgroup.bridge_health_system.common_model.domain.bridge_configuration.entity.Sensor">
        <id property="sensorID" column="sensorID"/>
        <result property="sensorName" column="sensorName"/>
        <collection property="alarmInformations" ofType="com.hardworkgroup.bridge_health_system.common_model.domain.alarm_management.entity.AlarmInformation">
            <id column="alarmInformationID" property="alarmInformationID"/>
            <result column="alarmTime" property="alarmTime"/>
            <result column="alarmType" property="alarmType"/>
            <result column="alarmConfirmStatus" property="alarmConfirmStatus"/>
            <result column="alarmDealStatus" property="alarmDealStatus"/>
            <result column="alarmDetail" property="alarmDetail"/>
        </collection>
    </resultMap>
    <!--根据传感器ID获取报警信息-->
    <select id="getAlarmInformationBySensorID" resultMap="SensorAlarmInformation">
        select * from sensor as s left  join alarm_information as a on s.sensorID = a.sensorID where s.sensorID = #{sensorID}
    </select>
</mapper>