<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.permission_management.dao.PermissionAndRoleRelationsDao">
    <!--查询所有用户-->
    <select id="findByRoleID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.system.entity.PermissionAndRoleRelations">
        select * from role_permission where roleID = #{roleID}
    </select>
    <update id="updateByRoleID" parameterType="map">
        update role_permission
        <set>
            permissionID = #{permissionID},
        </set>
        where roleID = #{roleID}
    </update>
    <insert id="insertByRoleID" parameterType="map">
        insert into role_permission(roleID,permissionID)values(#{roleID},#{permissionID})
    </insert>
</mapper>