<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hardworkgroup.bridge_health_system.permission_management.dao.PermissionPointDao">
    <!--id查询权限菜单-->
    <select id="getPermissionPointByID" resultType="com.hardworkgroup.bridge_health_system.common_model.domain.system.entity.PermissionPoint">
        select * from permission_point where pointID = #{pointID}
    </select>
    <!--ID删除权限菜单-->
    <delete id="deletePermissionPointByKey" parameterType="map">
    	delete from permission_point where pointID = #{pointID}
  	</delete>
    <!--ID添加权限point-->
    <insert id="insertPermissionPoint" >
        insert into permission_point(
        pointID,
        <if test="pointClass != null">
            pointClass,
        </if>
        <if test="pointIcon != null">
            pointIcon,
        </if>
        <if test="pointStatus != null">
            pointStatus
        </if>)
        values(
        #{pointID},
        <if test="pointClass != null">
            #{pointClass},
        </if>
        <if test="pointIcon != null">
            #{pointIcon},
        </if>
        <if test="pointStatus != null">
            #{pointStatus}
        </if>)
    </insert>
    <!--更新权限point-->
    <update id="updatePermissionPointByKey" parameterType="map">
        update permission_point
        <set>
            <if test="pointID != null">
                pointID = #{pointID},
            </if>
            <if test="pointClass != null">
                pointClass = #{pointClass},
            </if>
            <if test="pointIcon != null">
                pointIcon = #{pointIcon},
            </if>
            <if test="pointStatus != null">
                pointStatus = #{pointStatus}
            </if>
        </set>
        where pointID = #{pointID}
    </update>
</mapper>